div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(71, 59, 61);
    border: 2px solid black;
    position:absolute;
    top:200px   ;
    left:200px;
    animation-name:mymove;
    animation-duration: 3s; 
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes mymove {
    0%   {top:100px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
    from{background-color: rgb(84, 160, 122);}
    to{background-color: rgb(229, 228, 233);}
}
div :hover{}